# Eclipse
bin
eclipse
.classpath
.metadata
.project
.settings
*.launch

# Idea
out
.idea
*.ipr
*.iws
*.iml

# Gradle
build
run
runs
.gradle
.gradle-*
*local.properties

# NodeJs
node_modules
npm-debug.log
.npmrc

# VSCode
.vscode/launch.json
.vscode/settings.json

# Ghost Reference Index
.ghost-reference-index

# Other
.DS_Store
generated
logs
*.bak
*.clip
*.log
*.patch.txt
*.stackdump
